<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная{% endblock %}</title>
    
    <!-- Подключение модульных CSS файлов -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/video.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sales.css') }}">
    
    {% block styles %}{% endblock %}
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>
    <video class="video-background" autoplay loop muted>
        <source src="{{ url_for('static', filename='videos/ЗамокАнимация.mp4') }}" type="video/mp4">
        Ваш браузер не поддерживает видео.
    </video>    

    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
